.app {
  display: flex;
  justify-content: center;
}

.container {
  margin: 1rem;
  max-width: 100%;
}

.password-container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.options-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-top: 1px solid gray;
}

.options-title {
  color: gray;
  margin-bottom: 0;
}

.password-status {
  margin: 0;
}

.option-btn {
  background-color: transparent;
  color: inherit;
  font: inherit;
  padding: 0.2rem 0.8rem;
  margin-right: 0.2rem;
  cursor: pointer;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.option-btn-selected {
  border-width: 2px;
}

.option-btn:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.24);
}

.option-btn-selected-white-text {
  color: white;
}

.option-btn-selected-green {
  background-color: green;
}

.option-btn-selected-blue {
  background-color: #004eff;
}

.option-btn-selected-red {
  background-color: red;
}

.option-btn-selected-black {
  background-color: black;
}

@media (min-width: 600px) {
  .password-container {
    min-height: 328px;
    min-width: 482px;
  }
}
